
<h1> List of Projects </h1>

<table cellpadding="5">
	<tr>
		<th> Projects </th>
	</tr>
	<% if @projects.present?%>
		<% @projects.each do |project| %>

				<tr>
					<td> <%= project.title %> </td>
			    	<td><%= link_to 'Show Details', project_path(project) if policy(project).show? %></td>
					<td><%= link_to 'Edit', edit_project_path(project) if policy(project).edit? %></td>
					<% if policy(project).destroy? %>
						<td><%= link_to 'Destroy', project, data: {confirm: 'Are you sure?'},
														:method => :delete %></td>
					<% end %>
				</tr>
		<% end %>
	<% else %>
		<tr> <h3> No Project to show </h3></tr>
	<% end %>
</table>

<%= link_to 'Add new project', new_project_path if policy(Project).new? %>
