
<h1> List of Bugs </h1>
<table cellpadding="5">
	<% if @bugs.present? %>
	<tr>
		<th> <h3> Bugs</h3> </th>
	</tr>
		<% @bugs.each do |bug| %>
				<tr>
					<td><%= bug.title %> </td>
			    <td><%= link_to 'Show Details', project_bug_path(@project, bug) if policy(bug).show? %></td>
					<td><%= link_to 'Edit', edit_project_bug_path(@project, bug) if policy(bug).edit? %></td>
					<% if policy(bug).destroy? %>
						<td><%= link_to 'Destroy', project_bug_path(@project, bug), data: {confirm: 'Are you sure?'},
                           :method => :delete %></td>
          <% end %>
				</tr>
		<% end %>
	<% else %>
		<tr> <h3> No Bugs Yet </h3></tr>
	<% end %>
</table>

<%= link_to 'Report a bug', new_project_bug_path(@project) if policy(Bug).new? %><br/>

<%= link_to 'Back', project_path(@project) if policy(@project).show?%>
