
<h1> List of Bugs </h1>
<table cellpadding="5">
	<tr>
		<th> Bugs </th>
	</tr>
	<% if @bugs.present? %>
		<% @bugs.each do |bug| %>
				<tr>
					<td> <%= bug.title %> </td>
			    <td><%= link_to 'Show Details', project_bug_path(@project, bug) %></td> 
					<td><%= link_to 'Edit', edit_project_bug_path(@project, bug)%></td>
					<td><%= link_to 'Destroy', project_bug_path(@project, bug), data: {confirm: 'Are you sure?'},
														 :method => :delete %></td>				
				</tr>			
		<% end %>
	<% end %>
</table>

<%= link_to 'Add new bug', new_project_bug_path(@project)%> 
