
<h2> Bug Details </h2>

  <table cellspacing="5" cellpadding="5">
	 <tr>
	   <th>Title </th>
		<th> Type </th>
    <th> Status </th>
		<th> Deadline </th>
		<th> Assigned To </th>
	</tr>

	 <tr>
		<td><%= @bug.title %>      </td>
		<td><%= @bug.bug_type %>   </td>

    <% if policy(@bug).edit_status? %>
      <p><strong> Status </strong>  </p>
        <% if @bug.bug_type == 'Bug' %>
          <td id="status_list" data-bug_id= "<%= @bug.id%>" onchange="getSelectValue();">
            <%= select_tag 'status' , options_for_select(['New', 'Started', 'Resolved'], @bug.bug_status) %>
          </td>
        <% else %>
          <td id="status_list" data-bug_id= "<%= @bug.id%>" onchange="getSelectValue();" >
            <%= select_tag 'status' , options_for_select(['New', 'Started', 'Resolved'], @bug.bug_status) %>
        </td>
        <% end %>

      <% else %>
        <td> <%= @bug.bug_status %> </td>
      <% end %>

    <td><%= @bug.deadline %>   </td>

		<% if @bug.dev_id? %>
			<td><%= User.find(@bug.dev_id).name %></td>
		<% else %>
			<td id="id-assign">Un-Assigned </td>
		<% end %>

		<td><%= link_to 'Edit', edit_project_bug_path(@project, @bug) if policy(@bug).edit? %></td>
		<% if policy(@bug).destroy? %>
			<td><%= link_to 'Destroy', project_bug_path(@project, @bug), data: {confirm: 'Are you sure?'},
   			                     :method => :delete %></td>
    <% end %>

    <% if policy(@bug).assign? %>
      <td id="assign_id" bug_id="<%=@bug.id%>" > <button onclick="callAssign();">Assign Me</button> </td>
    <% end %>


   </tr>
  </table>

<h3> Screenshot </h3>
<%= image_tag @bug.screenshot_url(:thumb) if @bug.screenshot? %> <br/><br/>

<script>
  function callAssign(){
    var bug_id = $("#assign_id").attr("bug_id")
    $.ajax({
      type: "get",
      url: bug_id+"/assign",
      async: false,
      success:function(response){
        getData[dev]=response
        $("#id-assign").text(getData[dev])
        // alert(response["message"]);
      },
      error:function(response){
        alert('error');
      }
    })
  }

</script>




<script>
  function getSelectValue(){
    var selectedValue = document.getElementById("status").value;
    console.log(selectedValue);
    var bug_id = $("#status_list").attr("data-bug_id")
    $.ajax({
      type: "GET",
      url: "/edit_status",
      data: {"data" : selectedValue, "id" : bug_id},
      success:function(response){
        alert(response["message"]);
      },
      error:function(response){
        alert(response["error"]);
      }
    })
  }

</script>

<%= link_to 'Back', project_bugs_path(@project) %>

